//
// _variables.scss
// Global variables applicable throughout the site's styles.
//

////////////////////////////////////////////////////////////////////////////////
// COLORS
////////////////////////////////////////////////////////////////////////////////



////////////////////////////////////////////////////////////////////////////////
// TYPOGRAPHY
////////////////////////////////////////////////////////////////////////////////

$dimen-content-line-height: 1.75em;

////////////////////////////////////////////////////////////////////////////////
// DIMENSIONS
////////////////////////////////////////////////////////////////////////////////

// Breakpoints
$breakpoint-small: 650px;
$break-tablet: 1100px;
