<article class="full-document">

    <header class="full-document__header">
        <h1><a href="{{ .Permalink }}">{{ .Title }}</a></h1>
    </header>

    <section class="full-document__content">
        {{ .Content }}
    </section>

    <section class="full-document__metadata">
        Originally published on {{ .PublishDate.Format "Monday, January 2, 2006" }}.
        <br/> 
        Last modified on {{ .Lastmod.Format "Monday, January 2, 2006" }}.
        <br/>
        {{ $stat := os.Stat .File.Path }}
        File is {{ $stat.Size }} bytes.
    </section>

</article>